<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Controls</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
    <style>
        .btn {
            padding: 10px 20px;
            border: 2px solid;
            background: white;
            cursor: pointer;
        }

        body {
            font-family: sans-serif;
            width: 70%;
            margin: 100px auto;
        }
    </style>
    <h1>Controls</h1>
     <div class="container">
            <form method="post" action="#">
                {% csrf_token %}
                <button type="submit" class="btn">PinOn</button>
                <button type="submit" class="btn">PinOff</button>
            </form>
     </div>

</body>

</html>